.container-dashboard {
    background-image: url('https://images.pexels.com/photos/301673/pexels-photo-301673.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-wrapper{
    flex: 1;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.event-wrapper .event-sort{
    flex: 1;
    display: flex;
    align-content: right;
    align-items: right;
    justify-content: right;
    margin-bottom: 40px;
}

.event-wrapper .event-container {
    display: grid;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
/* Default: 1 column */
.event-container {
    grid-template-columns: repeat(1, 1fr);
}
/* Small devices: 2 columns */
@media (min-width: 716px) {
    .event-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* Medium devices: 3 columns */
@media (min-width: 1039px) {
    .event-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
/* Large devices: 4 columns */
@media (min-width: 1360px) {
    .event-container {
        grid-template-columns: repeat(4, 1fr);
    }
}