.room-details-background {
    background-image: url('https://images.pexels.com/photos/301673/pexels-photo-301673.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.room-details-container {
    margin: 50px;
}

.room-carousel-image {
    height: 300px;
    margin: 20px;
}

.room-detail-items {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

.room-detail-left{
    flex-direction: row ;
    display:flex;
    justify-content: space-between;
}

.room-book-box {
    margin: 10px;
    padding: 20px;
    border: 3px solid #ff6f61;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-book-dates {
    flex-direction: row;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 5%;
}
.room-book-inputdate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 2%;
}

.room-book-box input {
    margin: 2%;
}

.room-book-box button {
    margin: 10%;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}

.react-datepicker__input-container input{
    width: 120px;
    height: 30px;
}