/* src/styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
    color: #333;
}

a {
    text-decoration: none;
    color: #ff6f61; /* Updated to orange */
}

a:hover {
    color: #d05448; /* Darker orange for hover */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ff6f61; /* Updated to orange */
    color: white;
}

nav a {
    color: white;
    margin-right: 1rem;
    font-weight: bold;
}

nav a:hover {
    color: #ddd;
}

.container {
    width: 80%;
    margin: 2rem auto;
}

button {
    padding: 0.5rem 1rem;
    background-color: #ff6f61; /* Updated to orange */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



button:focus {
    outline: none;
    box-shadow: 0 0 5px #ff6f61; /* Orange focus color */
}

input, select, textarea {
    display: block;
    width: 100%;
    color: #ff6f61;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus, select:focus, textarea:focus {
    border-color: #ff6f61; /* Orange border on focus */
    color: #ff6f61;
    box-shadow: 0 0 5px #ff6f61; /* Orange focus color */
    outline: none;
}

.room-card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    background-color: white;
}

.room-list {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin: 1rem 0;
}

.signup-container {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.formContainer {
    padding: 20px;
    max-width: 400px;
    width: 100%;
    border-radius: 8px;
    background-color: #fff; /* Ensure form container has a white background */
    border: 1px solid #ff6f61; /* Added a border for consistency */
}

h1, h2, h3, h4, h5, h6 {
    color: #ff6f61; /* Updated to orange */
}

.header {
    background-color: #ff6f61; /* Updated to orange */
    color: white;
    padding: 1rem;
    text-align: center;
}

.footer {
    background-color: #ff6f61; /* Updated to orange */
    color: white;
    padding: 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
